*{
    margin:0%;
    padding:0%;
    color: whitesmoke;
    box-sizing: border-box;
    font-family: 'gil';
    src: url('path/to/gil-font.woff2') format('woff2');
}
.main{
    min-height:100vh;
    width:100vw;
  
    background-color: #111;
}
.landing{
    min-height:100vh;
    width:100vw;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing h2{
 font-size: 5vw;
 line-height: 7vw;
 margin-top: 0vw;
}


.landing .ag{
  margin-bottom: 1.1vw;
}
.landing p{
    font-size: 1.1vw;
    line-height:24px ;
    font-weight: 500;
}
.landing h4{
    font-size: 1.2vw;
    display: inline-flex;
    align-items: center;
    border-radius: 1.8vw;
    padding:.5vw;
}
.be{
    margin-top: 9px;
}
.nav{
    background-color: #111;
    display: flex;
    align-items: center;
    padding:2vw  10vw;
 z-index: 10;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.nav button{
    padding:.8vw 1.8vw;
    font-weight: 500;
    font-size: 1.1vw;
    border-radius: 1.7vw;
border: none;
display: flex;
    align-items: center;
    background-color: #0DA34E;
}
.nav button svg{
    height: 1.3vw;
    width: 1.3vw;
    margin-left: 1vw;

  
}
.nav2 a{
text-decoration: none;
padding:.3vw;
font-size: 1vw;
justify-content: space-around;
text-transform: capitalize;

}
.nav h2{
    font-size: 1.6vw;
    position: relative;
   
}
.nav-open{
   padding:0px 13.8vw;
    position: absolute;
    width:80%;
    top:90%;
    height:0px;
    display: flex;
    gap:2vw;
    overflow: hidden;
   border-bottom: 1px solid grey;
   transition: height .7s ease, background-color .7s ease;
}
.nav:hover .nav-open{
   height:10vw;
   background-color: #111;
   animation: slide-in 1s ease;
}

.nav-open-ele h5{
    margin-bottom: .6vw;
    font-size: 1vw;
    font-weight:100;
    
   
}
.nav-open-ele {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s ease, transform 0.8s ease;
}
.nav:hover .nav-open-ele {
    opacity: 1;
    transform: translateY(0px);
}
.nav-open-ele:nth-child(2) {
    transition-delay: 0.2s;
}
.nav-open-ele:nth-child(3) {
    transition-delay: 0.4s;
}
.nav-open-ele:nth-child(4) {
    transition-delay: 0.6s;
}
.nav-open-ele:nth-child(5) {
    transition-delay: 0.8s;
}
.nav-open-ele:nth-child(6) {
    transition-delay: 1s;
}


.moving-div{
position: absolute;
top:86%;
display: flex;

width:50vw;
gap:1.5vw;
white-space: nowrap;
overflow: hidden;
align-items: center;
padding:1.5vw;
}
.moving-div .move{
display: flex;
gap: 2vw;
position: relative;
animation:move 7s linear infinite  ;
}


@keyframes move{
    0%{
  transform: translateX(0vw);
    }
    100%{
        transform: translateX(-39.9vw);
    }
   
}
.blurr{
    height:7vw;
    background: linear-gradient(to left,transparent,#111);
    width: 5vw;
    position: absolute;
    left: 0%;
    z-index: 2;
}
.blur-r{
    height:7vw;
    background: linear-gradient(to left,#111,transparent);
    width: 5vw;
    position: absolute;
    left: 90%;
    z-index: 2;
}
.landing2{
    display: flex;
    width:83%;
    height:40vw;
    justify-content: space-between;
white-space: nowrap;

border-top: 1px solid rgba(128, 128, 128, 0.959);
margin-left:10vw;
margin-top: 6vw;
}
.landing2-left{
 width:38%;
    
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0.6vw;
}
.landing2-left p{
font-size: 1.1vw;
}
.landing2-left h5{
    width:28%;
    font-weight: 100;
    font-size: 1.1vw;
}
.landing2-right{
   width:55%;
  
}
.landing2-right-ele h2{
    font-size: 1.1vw;
    font-weight:510 ;
}
.landing2-right-ele{
width:100%;
padding:1vw 1vw;
height:9.9vw;
border-bottom: 1px solid grey;
position: relative;
}
.follow-cursor{
    width:6vw;
    height:6vw;
border-radius: 50%;
opacity: 0;
animation: all ease;

}
.landing3{
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    width:100vw;
    height:100vh;
    margin-top: 4vw;
    background-size: cover;
    background-repeat:no-repeat;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
}
.landing3 .icon {
    height:7vw;
   width:fit-content;
 
}

.landing3 .icon h5{
    font-size: 1.1vw;
     transform: translateY(6px);
     opacity: 0;
}
.icon i{
    font-size: 8vw;
   
}
.landing3:hover h5{
    width:fit-content;
    background-color: aliceblue;
    color: #111;
    padding:.2vw ;
    border-radius: 1vw;

animation: moves 1s linear forwards;
}


@keyframes moves{
    
   100%{
        opacity:1;
transform: translateY(0px);
    }
}

.landing3 video{
    width:0%;
    height:0vh;
    position: absolute;
    top: 0%;
    left: 0%;

    object-fit: cover;
}

.landing4{
    width: 100%;
    height: 100vh;
    padding: 6vw ;
    background-color: aliceblue !important ;
}
.landing4-sections{
    display: flex;
    gap:3vw;
    height:90%
}

.landing4-section-left{
width:30vw;
height:100%;
border-top: 1px solid grey;
padding:.6vw 1vw;
}

.landing-left-name {
    color:#111;
}
.landing-left-name-desc{
    font-size: 2.5vw;
    font-size: 1.2vw;
    font-weight:lighter;
    color: #111;
    margin-top: 4.2vw;
    }
.landing-left-name .landing-left-name-desc{
font-size: 2.5vw;
font-size: 2vw;

}
.landing4-section-right{
    width: 60vw;
    height:100%;
    border: 1px solid black;
    color: #111;
    position: relative;

}

.landing-left-name-desc:hover,.landing-left-name:hover{
    transform: scale(1.1);
    animation: all linear ;
}
.landing4-section-right img{
    width: 100%;
    height: 100%;
}

.landing4-video{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    z-index: 7;
   
   height: 100%;
   object-fit: cover;
   opacity: 0;
}

.landing5 {
    width: 100%;
    min-height: 100vh;
 
    display: flex;
    padding: 10vw;
    justify-content: space-between;
    position: relative; 
  }
  
  .btn-w {
    min-height: 100vh;
   
  }
  
  .bt {
    position: -webkit-sticky;
    position: sticky; 
    top: 30%; 
    width: 15vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #0DA34E;
    border: none;
    font-size: 1.3vw;
    z-index: 5;
  }
  
.landing5-right{
    width:70%;
}
.landing5-p span{
    width:7vw;
    display: inline-block;
}
.landing5-p {
    font-size: 2.3vw;
    border-bottom: 1px solid grey;
    padding-bottom: 6vw;
}
.landing5-content>h1{
    font-size: 2.7vw;
    padding:2.5vw .2vw;

}


.toclose{
    overflow: hidden;
    height: 0vh;
    transition: all 1s ease;
}

.gridd{
    display: inline-grid;
    grid-template-rows:auto;
    padding-bottom:2vw;
    gap:1vw; 
    grid-template-columns: repeat(4 ,1fr);
}
.gridd-h5{
    border: 1.2px solid grey;
    padding:.3vw .9vw;
    border-radius: 1vw;
}

.major-contents{
    border-bottom:1px solid grey;
    width:100%;
    height:10vw;
    display:flex;
    justify-content: space-between;
    padding:1vw ;
    position: relative;
    overflow: hidden;
}
.major-contents>p{
    width:55%;
    font-size: 1.1vw;
}
.major-contents>h3{
    font-size: 1.9vw;
    padding:1vw 0vw; 
}
.tocover{
    position: absolute;
    top:0%;
    left:0%;
    background-color:rgba(128, 128, 128, 0.18);
    z-index: 3;
    width:100%;
    height:100%;
    transform: translateY(-10vw);
    opacity: 0;
    transition: all ease .6s;
}
.major-contents:hover .tocover{
transform:translateY(0vw);
opacity: 1;
}
.major-contents:hover .mjh{
    transform: scale(1.1);
}
.major-contents:hover .ri-arrow-right-up-line
{
    transform: scale(1.1);
}
.major-contents:hover #hj{
    transform: scaleX(1.1);
}

.landing6{
    width: 100%;
    height: 100vh;
    padding: 2vw ;
    background-color: aliceblue !important ;

}
.landing6>h1{
    padding-left:45vw ;
    color:black !important;
    font-size:4.5vw;
padding-right: 10vw;
padding-bottom: 10vh;
padding-top: 10vh;
}

.blue-btn{
    background-color: #4f5bff;
    color:black !important;
    display: flex;
    margin-left:4vh;
    margin-top: 9vw;;
    height:3vw;
    border-radius: 2vw;
    width:69vw;
padding: 1vw ;
    position: relative;
}
.blue-btn>h4{
    position: absolute;
}
.landing6-below{
    display:flex;
   
    justify-content: space-between;
    width:85%;
    margin-left: 9vw;
  margin-bottom: 15vh;

}
.right-6>p{
    color:black;
   margin-left: 14vw;
    font-size: 1.8vw;
    margin-bottom: 8vh;
    font-weight: 400;
}

.landing6-bot{
    width:90%;
    height:65vh;
   border-top:1px solid #dadada;
  padding-left: 10vw;
    display: flex;
  
}
#btm6-part1{
    width:20%;
    height: 100%;
    border-right:1px solid #dadada;
}
.btm6-parts2{
    width:39%;
    height: 100%;
    border-right:1px solid #dadada;
}
.btm6-parts{
    width:26%;
    height: 100%;
    border-right:1px solid #dadada;
    
}
.btm6-part{
    width:15%;
    height: 100%;
}
.btm6-part>h2{
    
    padding:2vw 0.3vw;
    color:#111;
    font-size: 1.3vw;
}
.btm6-parts h4 span{
  
 
    margin-right: .9vh;
}
.btm6-parts2 h4 span{
  
    
    margin-right: .9vh;
}

.btm6-parts2>h2{
    padding:2vw 0.3vw;
    color:#111;
    font-size: 1.3vw;
}

.btm6-parts2>h4{
    padding:.8vw 0.7vw;
    background-color:#111;
 margin-bottom: .9vw;
 font-size: .8vw;
    border:1px solid black;
    width:40vh;
    border-radius: 10vh;
   

}

.btm6-parts2 h4:nth-child(2),
.btm6-parts h4:nth-child(2){
    transform: translateX(.3vw) ;
}
.btm6-parts2 h4:nth-child(3),
.btm6-parts h4:nth-child(3){
    transform: translateX(1vw) ;
}
.btm6-parts2 h4:nth-child(4),.btm6-parts h4:nth-child(4)
{
    transform: translateX(2vw) ;
}
.btm6-parts2 h4:nth-child(5){
    transform: translateX(3vw) ;
}
.btm6-parts2 h4:nth-child(6){
    transform: translateX(4vw) ;
}
.btm6-parts2 h4:nth-child(7){
    transform: translateX(5vw) ;
}
.btm6-parts>h2{
    padding:2vw 0.3vw;
    color:#111;
    font-size: 1.5vw;
}
.btm6-parts>h4{
    padding:.8vw 0.9vw;
    background-color:#111;
    margin-bottom: .9vw;
    font-size: .8vw;
    border:1px solid black;
    width: 22vh;
    border-radius: 8vh;
}

